.venv/
venv/
__pycache__/
*.pyc
.env
.DS_Store
.vs
.pytest_cache/
Demixing BS-RoF/outputs/
outputs/
.vscode/
Media/
Proj-pipeline.docx
Cremona_audio_test/Cremona_rec.RPP
Cremona_audio_test/Cremona_Test_Cases_test_audio.rpp
Cremona_audio_test/Eigenmike-22.wav
Cremona_audio_test/Eigenmike-22.wav.reapeaks
Cremona_audio_test/Eigenmike-23.wav
Cremona_audio_test/Eigenmike-23.wav.reapeaks
